@charset "utf-8";
/* CSS Document */

#menu_settings, #menu_settings ul {
	padding:0px;
	list-style: none;
	text-align:left;
}

#menu_settings {
	width: 230px;
	margin: 0px 0px 0px 0px;
	border: 1px solid #222;
	background-color: #111;
	background-image: -moz-linear-gradient(#444, #111);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));
	background-image: -webkit-linear-gradient(#444, #111);
	background-image: -o-linear-gradient(#444, #111);
	background-image: -ms-linear-gradient(#444, #111);
	background-image: linear-gradient(#444, #111);
	-moz-border-radius: 0px 0px 6px 0px;
	-webkit-border-radius: 0px 0px 6px 0px;
	border-radius: 0px 0px 6px 0px;
	-moz-box-shadow: 0 1px 1px #777;
	-webkit-box-shadow: 0 1px 1px #777;
	box-shadow: 0 1px 1px #777; 
	color:#FF9;
	text-transform: uppercase;
	font: bold 12px Arial, Helvetica;
	text-decoration: none;


}

#menu_settings:before,
#menu_settings:after {
	content: "";
	display: table;
}

#menu_settings:after {
	clear: both;
}

#menu_settings {
	zoom:1;
}
#menu_settings li {
	float: left;
	height:45px;
	/* border-right: 1px solid #222; 
	-moz-box-shadow: 1px 0 0 #444;
	-webkit-box-shadow: 1px 0 0 #444;
	box-shadow: 1px 0 0 #444; */
	position: relative;
}

#menu_settings a {
	float: left;
	padding: 15px 0px 0px 30px;
	color:#F6F6F6;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
	font-family: Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
}


#menu_settings a:hover {
	color: #FF9;
	font-family: Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	padding: 15px 0px 5px 30px;


}

*html #menu_settings li a:hover { /* IE6 only */
	color: #fafafa;
}

#menu_settings ul {
	margin: 20px 0 0 0;
	_margin: 0; /*IE6 only*/
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 46px;
	left: 0;
	z-index: 9999;
	background: #444;
	background: -moz-linear-gradient(#444, #111);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
	background: -webkit-linear-gradient(#444, #111);
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);

	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

#menu_settings li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}

#menu_settings ul ul {
	top: 0;
	/*left: 150px;*/
	width:200px;
	height:45px;
	margin: 0 0 0 20px;
	_margin: 0; 
	
	-moz-border-radius: 0px 6px 6px 0px;
	-webkit-border-radius: 0px 6px 6px 0px;
	border-radius: 0px 6px 6px 0px;
	/*IE6 only*/
	-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
	-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
	box-shadow: -1px 0 0 rgba(255,255,255,.3);
}

#menu_settings ul li {
	float: none;
	display: block;
	width:80px;
    height:45px;
	border: 0;
	_line-height: 0; /*IE6 only*/
	-moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
	-webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
	box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menu_settings ul li:last-child {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#menu_settings ul a {
	padding: 10px;
	width: 190px;
	height:25px;
	_height: 10px; /*IE6 only*/
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
	-moz-border-radius: 0px 6px 6px 0px;
	-webkit-border-radius: 0px 6px 6px 0px;
	border-radius: 0px 6px 6px 0px;
}

#menu_settings ul a:hover {
	background-color: #0186ba;
	background-image: -moz-linear-gradient(#04acec,  #0186ba);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background-image: -webkit-linear-gradient(#04acec, #0186ba);
	background-image: -o-linear-gradient(#04acec, #0186ba);
	background-image: -ms-linear-gradient(#04acec, #0186ba);
	background-image: linear-gradient(#04acec, #0186ba);
}

#menu_icon {
	padding:10px 0px 0px 20px;
	float:left;
}
#sub_menu_icon {
	padding:10px 0px 0px 30px;
	float:left;
}
#menu_text{
	float:left;
}
#menu_settings ul li:first-child > a {
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

#menu_settings ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 40px;
	top: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #444;
}

#menu_settings ul ul li:first-child a:after {
	left: -6px;
	top: 50%;
	margin-top: -6px;
	border-left: 0;
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid #3b3b3b;
}

#menu_settings ul li:first-child a:hover:after {
	border-bottom-color: #04acec;
}

#menu_settings ul ul li:first-child a:hover:after {
	border-right-color: #0299d3;
	border-bottom-color: transparent;
}

#menu_settings ul li:last-child > a {
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}