
				#c12n{
					 left: 240px;
					  top: 10px;}
					  #c12na{
					 left: 250px;
					  top: 10px;}
					    #c12nb{
					 left: 260px;
					  top: 10px;}
					    #c12nc{
					 left: 270px;
					  top: 10px;}
					    #c12nd{
					 left: 280px;
					  top: 10px;}
					    #c12ne{
					 left: 290px;
					  top: 10px;}
					    #c12nf{
					 left: 230px;
					  top: 10px;}
					    #c12ng{
					 left: 235px;
					  top: 30px;}
					   #c12nh{
					 left: 245px;
					  top: 30px;}
					   #c12ni{
					 left: 255px;
					  top: 30px;}
					   #c12nj{
					 left: 265px;
					  top: 30px;}
					   #c12nk{
					 left: 275px;
					  top: 30px;}
					   #c12nl{
					 left: 285px;
					  top: 30px;}
					   #c12nm{
					 left: 295px;
					  top: 30px;}
					   #c12nn{
					 left: 240px;
					  top: 50px;}
					   #c12no{
					 left: 240px;
					  top: 50px;} #c12np{
					 left: 240px;
					  top: 50px;} #c12nq{
					 left: 240px;
					  top: 50px;} #c12nr{
					 left: 240px;
					  top: 50px;} #c12ns{
					 left: 240px;
					  top: 50px;} #c12nu{
					 left: 240px;
					  top: 50px;} #c12nt{
					 left: 240px;
					  top: 50px;}
					   #c12nu{
					 left: 240px;
					  top: 50px;}
					   #c12nv{
					 left: 240px;
					  top: 50px;}
					   #c12nw{
					 left: 240px;
					  top: 50px;}
					   #c12nx{
					 left: 240px;
					  top: 50px;}
					   #c12ny{
					 left: 240px;
					  top: 50px;}
					   #c12nz{
					 left: 240px;
					  top: 50px;}
					   #c12naa{
					 left: 240px;
					  top: 50px;}
					   #c12nbb{
					 left: 240px;
					  top: 50px;}
					   #c12cc{
					 left: 240px;
					  top: 50px;}
					  
					  
					  
					  
					  
					  
					  
					  
					  
					  /* end one part*/